[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
numpy = "*"
jupyter = "*"
tqdm = "*"
matplotlib = "*"
torchvision = "*"
pytorch-lightning = "*"
seaborn = "*"
torchmetrics = "*"
pandas = "*"
python-dotenv = "*"
pip = "*"
neptune-client = "*"

[dev-packages]

[requires]
python_version = "3.10"
